html,body{
   margin 0
   padding 0
   width 100%
   height 100%
}
body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOIl2fTHDooYHF3r5mKeFRqLI_qtWoNMBSOntjEmaC-WNptpXQ&usqp=CAU')
    background-size:cover
    // background-position: ''
    // font:14px 'Helvetica'
    color:#4d4d4d;
    // font-smoothing:'antiali'
    font-weight:300;

}